<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue demo</title>
    <link rel="stylesheet" type="text/css" href="./base.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!-- 声明式渲染 -->
    <h1>声明式渲染</h1>
    <ul>
        <li>双大括号会将数据解释为普通文本，而非 HTML 代码。为了输出真正的 HTML，你需要使用 v-html。<strong>注意：</strong>你的站点上动态渲染的任意 HTML 可能会非常危险，因为它很容易导致 XSS 攻击。请只对可信内容使用 HTML 插值，绝不要对用户提供的内容使用插值。</li>
        <li>使用javascript表达式。<strong>限定：</strong>每个绑定都只能包含单个表达式。
            <code>
                <pre>
                    {{ number + 1 }}
                    {{ ok ? 'YES' : 'NO' }}                    
                    {{ message.split('').reverse().join('') }}                    
                    &lt;div v-bind:id="'list-' + id"&gt;&lt;/div&gt;                    
                </pre>
            </code>
        </li>
        <li>app.message='xxx'</li>
        <li>除了数据 property，Vue 实例还暴露了一些有用的实例 property 与方法。它们都有前缀 $，以便与用户定义的 property 区分开来
            <code>
                <pre>
                    var data = { a: 1 };
                    var vm = new Vue({
                        el: '#example',
                        data: data
                    });
                    
                    vm.$data === data; // => true
                    vm.$el === document.getElementById('example'); // => true
                    
                    // $watch 是一个实例方法
                    vm.$watch('a', function (newValue, oldValue) {
                        // 这个回调将在 `vm.a` 改变后调用
                    });              
                </pre>
            </code>
        </li>
        <li>
            实例生命周期钩子:在实例生命周期的不同阶段被调用，如 created、mounted、updated 和 destroyed。生命周期钩子的 this 上下文指向调用它的 Vue 实例。
            <code>
                <pre>
                    new Vue({
                        data: {
                            a: 1
                        },
                        created: function () {
                            // `this` 指向 vm 实例
                            console.log('a is: ' + this.a)
                        }
                    });
                </pre>
            </code>
        </li>
        <li>
            <ul>
                <li>3. 使用 Object.freeze()，这会阻止修改现有的 property。</li>
                <li>通过使用 v-once 指令，你也能执行一次性地插值，当数据改变时，插值处的内容不会更新。</li>
            </ul>
        </li>
        <li>2. 令带有前缀 <strong>v-</strong>，以表示它们是 Vue 提供的特殊 attribute。</li>
        <li>2. v-bind</li>
    </ul>
    <hr />
    <ol>
        <li>
            <div id="app">{{ message }}</div>
        </li>
        <li>
            <div id="app-2">
                <span v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
            </div>
        </li>
        <li>
            <div id="app-e">
                <p>{{ foo }}</p>
                <!-- 这里的 `foo` 不会更新！ -->
                <button v-on:click="foo = 'baz'">Change it</button>
            </div>
        </li>
    </ol>

    <!--条件与循环-->
    <h1>条件与循环</h1>
    <ul>
        <li>2. app4.todos.push({ text: 'xxx' })</li>
        <li>1. v-if</li>
        <li>2. v-for</li>
    </ul>
    <hr />
    <ol>
        <li>
            <div id="app-3">
                <p v-if="seen">现在你看到我了</p>
            </div>
        </li>
        <li>
            <div id="app-4">
                今天要做的事有：<span v-for="todo in todos">{{todo.text}}、</span>
            </div>
        </li>
    </ol>

    <!--处理用户输入-->
    <h1>处理用户输入</h1>
    <ul>
        <li>1. v-on</li>
        <li>2. v-model</li>
    </ul>
    <hr />
    <ol>
        <li>
            <div id="app-5">
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage">反转消息</button>
            </div>
        </li>
        <li>
            <div id="app-6">
                <p>{{ message }}</p>
                请输入：<input v-model="message">
            </div>
        </li>
    </ol>

    <!--组建化应用构建-->
    <h1>组建化应用构建</h1>
    <ul>
        <li>组件系统是 Vue 的另一个重要概念，因为它是一种抽象，允许我们使用小型、独立和通常可复用的组件构建大型应用。</li>
    </ul>
    <hr />
    <ol>
        <li>
            <!-- 创建一个 todo-item 组件的实例 -->
            <div id="app-7">

                <!--
                    现在我们为每个 todo-item 提供 todo 对象
                    todo 对象是变量，即其内容可以是动态的。
                    我们也需要为每个组件提供一个“key”，稍后再
                    作详细解释。
                  -->
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>

            </div>
        </li>
    </ol>


    <script src="./demo.js"></script>
</body>

</html>